:root {
    --PrimaryColor: rgb(2, 2, 212);
    --SecondaryColor: rgb(247, 19, 57);
    --hoverColor: #fff;
    --hoverText: rgb(247, 19, 57);
    --PrimaryPadding: 1rem;
    --primaryMargin: 1rem;
    --boxShadow: 0 2px 8px 4px rgba(153, 151, 151, 0.425);
    --borderRadius: 10px;
    --fontSize: 1rem;
    --fontSizeHead: 1.8rem;
    --fontWeight: 500;
    --textColor: #fff;
    --paddingLeft: 10rem; 
    --paddingRight: 5rem;  
}

.offer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}